openapi: 3.0.3
info:
  title: Folkbokföring API
  version: 1.0.0
  description: API för att tillhandahålla folkbokföringsstatus för givet personnummer

paths:
  /folkbokforing/{persnr}:
    get:
      tags: [FolkbokforingController]
      summary: Hämta information om person
      description: Hämta information om person
      parameters:
        - name: persnr
          in: path
          required: true
          description: Svenskt personnummer, 12 siffror med bindestreck (YYYYMMDD-XXXX)
          schema:
            $ref: '#/components/schemas/Persnr'
      responses:
        '200':
          description: Förfrågan utförd OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/Persnr'
                  fornamn:
                    type: string
                    example: Lisa
                  efternamn:
                    type: string
                    example: Tass
                  kon:
                    $ref: '#/components/schemas/Kon'
                  adress:
                    $ref: '#/components/schemas/Adress'
        '400':
          description: Felaktig förfrågan (t.ex. fel format i personnr)
        '404':
          description: Finns ingen person för personnummer

components:
  schemas:
    Persnr:
      type: string
      pattern: '^\d{8}-\d{4}$'
      example: "19990101-0123"
    Kon:
      type: string
      description: Kön på personen
      enum:
        - M
        - K
      example: K
    Adress:
      type: object
      description: Adressinformation
      properties:
        careOf:
          type: string
          description: C/o (care of)
          example: "-"
        utdelningsadress:
          type: string
          description: Gatuadress
          example: "Storgatan 75"
        postnummer:
          type: string
          description: Postnummer
          example: "12345"
        postort:
          type: string
          description: Postort
          example: "Orsa"